/* style.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.character {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background, .foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foreground {
    z-index: 10;
    animation: moveForeground 12s linear infinite;
}

.background {
    z-index: 0;
    filter: grayscale(30%) blur(2px); /* Apply 30% grayscale filter and 2 pixel blur */

    /* Start with -10% offset and scale to 110% */
    transform: translateX(-10%) scale(1.1);
    animation: moveBackground 12s linear infinite;
}

@font-face {
    font-family: 'Pricedown';
    src: url('pricedown bl.otf') format('opentype');
}

/* style.css */
.title {
    position: absolute;
    color: white;
    font-family: Pricedown;
    z-index: 5;
}

#mario-title {
    right: 7%;
    bottom: 12%;
}

#algo-title {
    left: 21%;
    top: 7%;
}

#jess-title {    
    right: 25%;
    top: 10%;
}


.title span {
    display: block;
    text-align: center;
    font-family: "Arial Black";
    opacity: 77%;
    font-size: 28pt; /* Smaller font size for 'Starring:' */
}

.title {
    font-size: 128pt; /* Larger font size for the character name */
    font-weight: normal;
    line-height: 84px;
    text-shadow:
            -1px -1px 0 #000, /* Top-left shadow */
            1px -1px 0 #000, /* Top-right shadow */
            -1px 1px 0 #000, /* Bottom-left shadow */
            1px 1px 0 #000; /* Bottom-right shadow */
}

#blackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 20;
    transition: opacity 300ms ease-in-out;
}

/* Parallax animations */
@keyframes moveForeground {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10%) scale(1.06); }
}

@keyframes moveBackground {
    0% { transform: translateX(-5%) scale(1.1); }
    100% { transform: translateX(0) scale(1.04); }
}